@model IEnumerable<Lesson04_02.Models.Customer>

@{
    ViewBag.Title = "Danh sách khách hàng";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Danh sách khách hàng</h2>

<p>
    @Html.ActionLink("Thêm mới", "Create","Customer", htmlAttributes: new { @class = "btn btn-primary" })
</p>
<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CustomerId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Address)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.YearOfBirth)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CustomerId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.YearOfBirth)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.CustomerId }, htmlAttributes: new { @class = "btn btn-success " }) |
                <a href="/customer/details/@item.CustomerId">
                    <i class="fa fa-eye" aria-hidden="true"></i>
                </a>
                @*@Html.ActionLink("Details", "Details", new { id = item.CustomerId })*@ |
                @*@Html.ActionLink("Delete", "Delete", new { id = item.CustomerId })*@
                <a href="/customer/Delete/@item.CustomerId" onclick="return confirm('Bạn có muốn xóa không');">
                    <i class="fa fa-trash"></i>
                </a>
            </td>
        </tr>
        }
    </tbody>

</table>
